html,
body {
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 300;
    font-style: normal;
    line-height: $line-height-base;
    background-color: $body-bg;
    overflow-x: hidden;
    text-rendering: optimizelegibility;
    -webkit-tap-highlight-color: transparent;
}

header,
main,
footer {
    background-color: rgba(88,59,50, .15);
}
main {
    background-color: transparent;
    flex: 1 0 auto;
}
header {
    background-color: $monter-yellow;
    color: black;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    padding-right: 0;
    padding-left: 0;
}
header,
footer {
    /* margin-top: auto;
    align-items: flex-end; */
    flex: none;
    // align-self: flex-end;
}



.row > [class^="col"] {
    /* padding-top: .75rem;
    padding-bottom: .75rem; */
    /* background-color: rgba(88,59,100, .15);
    border: 1px solid rgb(17, 1, 1);
    @media (min-width: $screen-xs) {
        background-color: rgba(100,59,100, .25);
    }

    @media (min-width: $screen-sm) {
        background-color: rgba(88,109,100, .35);
    }

    @media (min-width: $screen-md) {
        background-color: rgba(88,59,50, .45);
    }

    @media (min-width: $screen-lg) {
        background-color: rgba(88,100,100, .55);
    }

    @media (min-width: $screen-xl) {
        background-color: rgba(111,111,100, .65);
    } */
}

.person {
    background-color: #efefef;
    margin-bottom: .5rem;
    padding: 1rem;
}

ul {
    margin: .5rem 0;
    padding: 0 0 0 1rem;
    li {
        list-style-type: disc;
    }
}

input + label {
    cursor: pointer;
}

label {
    font-family: $font-family-monospace;
}

.trailer-info {
    padding: .5em;
    background-color: $monter-border-gray;
    margin-bottom: .5rem;
    /* &:last-child {
        margin-bottom: 0;
    } */
}